.action-container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
.scroll-btn {
  flex: 0 0 1;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  color: #083d8d;
  border: 1px solid #083d8d;
  padding: 5px;
  margin: 0px 40px 0px 40px;
}

.scroll-btn:hover {
  background-color: #083d8d;
  color: #fff;
}

.target {
  margin-top: 40px;
  border: 2px solid #083d8d;
  height: 300px;
  width: 50%;
  margin-left: 25%;
  text-align: center;
}
